<h1>Welcome to Twotter</h1>

<h2>Login</h2>

<form id="login-form" action="signIn" method="POST">
	Username: <input
		type="text" 
		name="username"
		id = "username">
	<input
		type="submit" 
		name = "action"
		value="Log In">		
</form>

 