<h1>Welcome to Twotter</h1>

<h2>Create a new account</h2>

{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

<form id="register-form" action="signup" method="POST">
	Username: <input
		type="text" 
		name="username"
		id = "username">
	Password: <input
		type="text" 
		name="password"
		id = "password">
	<input
		type="submit" 
		name = "action"
		value="Register User">		
</form>

 